<div class="fixed-footer">
    <nav class="navbar navbar-expand-md custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand ml-3" href="./index.html">
                <img src="./assets/images/sharada_logo.png" alt="Company Logo" class="logo">
            </a>
            <div>
                &copy; 2011-2023 Sharada Capital Management. All rights reserved
            </div>
            <div>
                <a href="mailto:jobs@sharadacm.com"><i class="fas fa-envelope"></i> Contact Us</a>
            </div>

        </div>
    </nav>
</div>